<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="memberMsg.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://i.icomoon.io/public/temp/2c151243a2/UntitledProject/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@4.0.1/reset.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="header">
        <div class="header-div">
            <div class="header-logo">
                <a href="/">
                    <img src="/img/logo.png" alt="">
                </a>
            </div>
            <div class="header-child-functions">
                <div class="small-menu-content">
                    <div class="header-child-function">
                        <a href="#">首頁</a>
                    </div>
                    <div class="header-child-function">
                        <a href="#">节目</a>
                    </div>
                </div>
            </div>
            <div class="header-child-icon-function notshow-768" id="chat-icon">
                <a href="">
                    <span class="icon-bubbles4"></span>
                </a>
            </div>

            <div class="header-child-icon-function notshow-768" id="love-icon">
                <a href="/my?page=subsList">
                    <i class="fas fa-heart"></i>
                </a>
                <div id="user-love">
                    <div class="user-love">
                        <p>尚无任何订阅</p>
                        <div class="user-love-info">
                            <div class="small-subs-channel-live">
                                <p>LIVE</p>
                            </div>
                            <a class="user-love-info-content">
                                <img src="" alt="">
                                <div class="user-love-info-name">
                                    <p>追蹤頻道名稱</p>
                                    <p>體育</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div v-show="this.isLogin" class="header-child-icon-function member" id="user-icon">
                <a href="/my?page=account">
                    <img src="img/user.png" alt="">
                </a>
                <div id="user-modal">
                    <div class="user-modal">
                        <div class="user-info">
                            <div class="user-logout" id="user-logout">
                                <a href="#" @click="logout">退出</a>
                            </div>
                            <div class="user-intro">
                                <div class="user-photo">
                                    <img :src="this.userInfo.icon" onerror="this.src='/img/user.png';" alt="">
                                    <p>{{ this.userInfo.nickname }}</p>
                                    <p>{{ this.userInfo.self_intro }}</p>
                                    <!-- <div class="star">
                                                <img src="/img/shatteredstar.png" alt="">
                                                <p>碎星 {{this.formatPrice(userInfo.assets_amount)}}</p>
                                            </div> -->

                                </div>

                            </div>
                            <div :class="userInfo.isStreamer ? 'user-function' : 'user-function-notStreamer'">
                                <a href="/my?page=account" class="user-function-child user-center">
                                    <div class="function-icon">
                                        <span class="icon-member"></span>
                                    </div>
                                    <p>个人中心</p>
                                </a>
                                <a href="/my?page=subsList" class="user-function-child user-center">
                                    <div class="function-icon">
                                        <span class="icon-book2"></span>
                                    </div>
                                    <p>订阅片柜</p>
                                </a>

                            </div>
                            <div class="user-function-streamer" v-if="userInfo.isStreamer">
                                <a href="#" class="user-function-streamer-child user-stream" v-if="yet">
                                    <div class="function-icon-isStreamr">
                                        <span class="icon-video2"> </span>
                                    </div>
                                    <p>上传视频</p>
                                </a>
                                <a href="/my?page=userStream"
                                    :class="yet ? 'user-function-streamer-child user-stream' : 'user-function-streamer-child-yet user-stream'">
                                    <div class="function-icon-isStreamr">
                                        <span class="icon-live"> </span>
                                    </div>
                                    <p>开始直播</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-show="!this.isLogin" class="header-child-icon-function member" id="user-icon-for-login">
                <a href="#">
                    <i class="icon-member2"></i>
                </a>
            </div>
            <div v-show="this.isLogin" class="header-child-icon-function more-menu" id="menu">
                <a href="#">
                    <i class="icon-menu"></i>
                </a>
            </div>
            <div id="menu-content">
                <div class="menu-block-overlay"></div>
                <div class="menu-content">
                    <div class="menu-child-function">
                        <a href="#" @click="logout">登出</a>
                    </div>
                    <div class="menu-child-function">
                        <a href="/my?page=account">个人中心</a>
                    </div>
                    <div class="menu-child-function">
                        <a href="/my?page=subsList">订阅片柜</a>
                    </div>
                    <div class="menu-child-function" v-if="userInfo.isStreamer">
                        <a href="/my?page=userStream">开始直播</a>
                    </div>
                    <!-- <div class="menu-child-function">
                                <a href="#">創作頻道</a>
                            </div>
                            <div class="menu-child-function">
                                <a href="#">快訊</a>
                            </div> -->
                    <!-- <div class="menu-child-function">
                                <a href="#">反馈回报</a>
                            </div>  
                            <div class="menu-child-function">
                                <a href="#">帮助说明</a>
                            </div>   -->
                    <div class="menu-child-function" id="close">
                        <a href="#"><i class="icon-close"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="sidebar">
            <div class="sidebar-block">
                <div class="sidebar-heading">
                    <h1>个人中心</h1>
                </div>
                <div class="sidebar-options">
                    <a href="/my?page=account" :class="isAccount ? 'option-active' : ''">帐号管理</a>
                    <!-- <a href="#" :class="isLevel ? 'option-active' : ''">等级成长</a> -->
                    <a href="/my?page=assets" :class="isAssets ? 'option-active' : ''">资产纪录</a>
                    <a href="#" class="option-active">讯息中心</a>
                </div>
                <div class="sidebar-heading">
                    <h1>其他区域</h1>
                </div>
                <div class="sidebar-options">
                    <a href="/my?page=subsList" :class="isSubscribe ? 'option-active' : ''">订阅片柜</a>
                    <!-- <a href="#">创作频道</a> -->
                    <!-- <a href="#">视频管理</a> -->
                    <a v-if="userInfo.isStreamer" href="/my?page=userStream"
                        :class="isUserStream ? 'option-active' : ''">直播管理</a>
                </div>
                <!-- <div class="sidebar-heading">
                <h1>社群名单</h1>
            </div>
            <div class="sidebar-options">
                <a href="#">订阅我</a>
                <a href="#">黑名单</a>
            </div> -->
            </div>

        </div>
    </div>

    <!-- 訊息中心本體 -->
    <div class="user-content">
        <div class="msg-user-list">
            <div class="user-column" id="msg">
                <div class="searchbar">
                    <div class="searchbox">
                        <input type="text" class="search-input" placeholder="請輸入尋找關鍵字">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <div class="column-wrapper">
                    <a href="">
                        <div class="user-thumb unread">
                            <div class="avatar">
                                <img src="img/test/Ellipse 5@3x.png" alt="">
                            </div>
                            <div class="user-text-content">
                                <div class="user-name">頻道主播名稱</div>
                                <div class="user-txt-des">尚未讀取的信息內容在此</div>
                            </div>
                            <div class="notice-tag">
                                <div class="num">2</div>
                            </div>
                        </div>

                    </a>
                    <a href="">
                        <div class="user-thumb active">
                            <div class="avatar">
                                <img src="img/test/Ellipse 5@3x.png" alt="">
                            </div>
                            <div class="user-text-content">
                                <div class="user-name">頻道主播名稱</div>
                                <div class="user-txt-des">已經讀取的信息內容在此，已經讀取的信息內容在，</div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="user-thumb">
                            <div class="avatar">
                                <img src="img/test/Ellipse 5@3x.png" alt="">
                            </div>
                            <div class="user-text-content">
                                <div class="user-name">頻道主播名稱</div>
                                <div class="user-txt-des">已經讀取的信息內容在此，已經讀取的信息內容在，</div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="user-thumb">
                            <div class="avatar">
                                <img src="img/test/Ellipse 5@3x.png" alt="">
                            </div>
                            <div class="user-text-content">
                                <div class="user-name">頻道主播名稱</div>
                                <div class="user-txt-des">已經讀取的信息內容在此，已經讀取的信息內容在，</div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="user-thumb">
                            <div class="avatar">
                                <img src="img/test/Ellipse 5@3x.png" alt="">
                            </div>
                            <div class="user-text-content">
                                <div class="user-name">頻道主播名稱</div>
                                <div class="user-txt-des">已經讀取的信息內容在此，已經讀取的信息內容在，</div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="user-thumb">
                            <div class="avatar">
                                <img src="img/test/Ellipse 5@3x.png" alt="">
                            </div>
                            <div class="user-text-content">
                                <div class="user-name">頻道主播名稱</div>
                                <div class="user-txt-des">已經讀取的信息內容在此，已經讀取的信息內容在，</div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="user-thumb">
                            <div class="avatar">
                                <img src="img/test/Ellipse 5@3x.png" alt="">
                            </div>
                            <div class="user-text-content">
                                <div class="user-name">頻道主播名稱</div>
                                <div class="user-txt-des">已經讀取的信息內容在此，已經讀取的信息內容在，</div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="user-thumb">
                            <div class="avatar">
                                <img src="img/test/Ellipse 5@3x.png" alt="">
                            </div>
                            <div class="user-text-content">
                                <div class="user-name">頻道主播名稱</div>
                                <div class="user-txt-des">已經讀取的信息內容在此，已經讀取的信息內容在，</div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="user-thumb">
                            <div class="avatar">
                                <img src="img/test/Ellipse 5@3x.png" alt="">
                            </div>
                            <div class="user-text-content">
                                <div class="user-name">頻道主播名稱</div>
                                <div class="user-txt-des">已經讀取的信息內容在此，已經讀取的信息內容在，</div>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
        </div>
        <div class="chat-wrapper">
            <div class="chat-room-title">
                頻道主播名稱
            </div>
            <div class="chat">
                <div class="datebox">
                    <div class="date">2019-02-13 (三)</div>
                </div>
                <div class="otbox">
                    <div class="otcont">
                        <div class="avat">
                            <img src="img/test/Ellipse 5@3x.png" alt="">
                        </div>
                        <div class="cloud">
                            <div class="name">頻道主播名稱</div>
                            <div class="txt">
                                <p>已經讀取的信息內容在此，已經讀取的信息內容在此</p>
                                <a href="">https://github.com/zqartwork</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="otbox continue">
                    <div class="otcont">
                        <div class="cloud">
                            <div class="txt">
                                <p>已經讀取的信息內容在此，已經讀取的信息內容在此</p>
                                <a href="">https://github.com/zqartwork</a>
                            </div>
                            <div class="time">23:59</div>
                        </div>
                    </div>
                </div>

                <div class="mybox">
                    <div class="mycont">
                        <div class="cloud">
                            <div class="txt">
                                <p>已經讀取的信息內容在此，已經讀取的信息內容在此</p>
                                <a href="">https://github.com/zqartwork</a>
                            </div>
                            <div class="time">23:59</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-txt-input">
                <input type="text" placeholder="請輸入訊息內容">
                <a href="" class="submit-txt">發送訊息</a>
            </div>
        </div>
    </div>

</body>

</html>