// --------------main

$theme-color: #a30202;
$hint: #afafaf;

body {
  font-family: 微軟正黑體;
}

.icon-bubbles4:before {
  content: "\e970";
}

.header-child-icon-function,
#chat-icon > a {
  color: #424242;
  margin-right: 5px;
}

#msg::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: #cccccc;
}

#msg::-webkit-scrollbar {
  width: 3px;
  background-color: #f4f4f4;
}

#msg::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $hint;
}

// 用戶名單列
.wrapper {
  padding-top: 40px;
  padding-left: 260px;
  padding-right: 120px;
  height: calc(90vh - 50px);

  a {
    color: $theme-color;
    text-decoration: none;
  }

  .flex-wrapper {
    display: flex;
    height: 100%;
    box-shadow: 0 3px 10px #00000048;

    .flex-3 {
      flex: 0.2;
      height: 100%;
    }
    .flex-7 {
      flex: 0.8;
    }

    .inner-container {
      position: relative;
      height: 100%;

      .searchbar {
        position: absolute;
        top: 0;
        z-index: 3;
        width: 100%;
        background: $theme-color;
        padding: 14px 0;

        .searchbox {
          margin: 0 auto;
          width: 90%;
          height: 35px;
          background: #fff;
          border-radius: 35px;
          position: relative;
          overflow: hidden;

          .search-input {
            display: block;
            border: none;
            margin: 0 auto;
            height: 100%;
            outline: none;
            font-size: 16px;
            width: 90%;
            font-family: 微軟正黑體;
          }

          i {
            position: absolute;
            right: 15px;
            top: 9px;
          }
        }
      }
      .user-column {
        width: 100%;
        height: 100%;

        min-width: 352px;
        overflow-y: scroll;
        border: 1px solid $hint;
        background: #fff;

        margin: 0;
        a {
          color: #000;
        }
        .column-wrapper {
          padding-top: 63px;
          .user-thumb {
            height: 96px;
            border-bottom: 1px solid $hint;

            position: relative;

            &.unread {
              font-weight: bold;
            }

            &.active {
              background: #d6d6d6;

              &:hover {
                background: #d6d6d6;
              }
            }

            &:hover {
              background: #e6e6e6;
            }

            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            width: 100%;

            .avatar {
              flex: 0.2;
              height: 56px;
              width: 56px;

              margin: 0 17px;

              img {
                height: 100%;
                border-radius: 50%;
              }
            }

            .user-text-content {
              flex: 0.8;
              font-size: 16px;
              line-height: 24px;
              padding-right: 15px;

              .user-txt-des {
                color: #424242;
                max-width: 230px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }

            .notice-tag {
              background: $theme-color;
              position: absolute;
              top: 16px;
              right: 15px;

              height: 25px;
              width: 25px;

              border-radius: 50%;
              color: #fff;
              font-size: 14px;
              font-weight: bold;

              text-align: center;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
    .msg-user-list {
      display: inline-block;
      // border: 1px solid red;
      // position: fixed;
      max-height: 880px;
      font-family: 微軟正黑體;

      position: relative;
    }
    .inline-wrapper {
      display: inline-block;
    }
    .inner-container {
      position: relative;
      height: 100%;
      width: 100%;

      overflow: hidden;

      .chat-room-title {
        z-index: 3;

        font-family: 微軟正黑體;
        width: 100%;
        height: 63px;
        background: #222222;

        color: white;
        font-weight: bold;
        text-align: center;
        line-height: 63px;

        position: absolute;
        top: 0;
      }

      .chat-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;

        border: 1px solid $hint;
        height: 100%;

        position: relative;
        overflow: hidden;
        background: #fff;

        .chat {
          padding-top: 73px;
          padding-bottom: 73px;
          padding-right: 15px;
          padding-left: 15px;
          height: 100%;
          overflow-y: scroll;

          .datebox {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .date {
              background: #e6e6e6;
              padding: 10px 20px;
              border-radius: 3px;
            }
          }
          .otbox {
            display: flex;
            width: 100%;
            flex: 1 1 0%;
            justify-content: flex-start;
            align-items: center;
            margin: 15px 0;

            &.continue {
              margin: 5px 0 15px 0;

              .cloud {
                padding-left: 80px;
                .txt::after {
                  display: none;
                }
              }
            }

            .otcont {
              display: flex;
              flex-wrap: nowrap;
              .avat {
                height: 50px;
                width: 50px;
                margin: 15px;
                img {
                  height: 100%;
                }
              }
              .cloud {
                &.continue {
                  padding-left: 80px;
                  .txt::after {
                    display: none;
                  }
                }
                .name {
                  color: $hint;
                  font-size: 14px;
                  line-height: 25px;
                }
                .txt {
                  border: 1px solid #707070;
                  border-radius: 5px;
                  padding: 12px 15px;
                  line-height: 21px;
                  position: relative;

                  &::after {
                    content: "";
                    position: absolute;
                    height: 13px;
                    width: 13px;
                    top: 10px;
                    left: -8px;
                    transform: rotate(-45deg);
                    background: #fff;

                    border-top: 1px solid #707070;
                    border-left: 1px solid #707070;
                  }
                }
                .time {
                  padding: 5px 0;
                  font-size: 14px;
                  color: $hint;
                  text-align: right;
                }
              }
            }
          }
          .mybox {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            align-items: center;

            .txt {
              margin-right: 20px;

              border: 1px solid #707070;
              border-radius: 5px;
              padding: 12px 15px;
              line-height: 21px;
              position: relative;
              background: #e6e6e6;

              &::after {
                content: "";
                position: absolute;
                height: 13px;
                width: 13px;
                top: 12px;
                right: -8px;
                transform: rotate(135deg);
                background: #e6e6e6;

                border-top: 1px solid #707070;
                border-left: 1px solid #707070;
              }
            }
            .time {
              padding: 5px 0;
              font-size: 14px;
              color: $hint;
              text-align: left;
            }
          }
        }
      }

      .user-txt-input {
        position: absolute;
        bottom: 0;

        font-family: 微軟正黑體;

        width: 100%;
        background: #222222;

        padding: 15px 20px;
        display: flex;

        input {
          border: none;
          height: 35px;
          font-size: 16px;
          border-radius: 35px 0 0 35px;
          padding-left: 15px;
          font-family: 微軟正黑體;
          outline: none;

          flex: 0.74;
        }
        .submit-txt {
          display: flex;
          align-items: center;
          justify-content: center;

          height: 38px;
          font-size: 16px;
          border-radius: 0 35px 35px 0;
          margin-left: 10px;

          background: $theme-color;
          flex: 0.2;

          color: white;
        }
      }
    }
  }
}

@media (max-width: 1235px) {
  .wrapper .flex-wrapper .flex-3 {
    flex: 0.1;
  }
  .wrapper .flex-wrapper .inner-container .user-column {
    min-width: unset;
  }
  .wrapper .flex-wrapper .inner-container .user-column .column-wrapper .user-thumb .user-text-content .user-txt-des {
    max-width: 135px;
  }
  .wrapper .flex-wrapper .flex-7 {
    flex: 0.9;
  }
  .wrapper {
    padding-right: 40px;
  }
}

@media (max-width: 1055px) {
  .wrapper .flex-wrapper .inner-container .user-column .column-wrapper .user-thumb .user-text-content {
    display: none;
  }
  .wrapper .flex-wrapper .inner-container .searchbar .searchbox {
    background: $theme-color;
    .search-input {
      display: none;
    }
    i {
      color: white;
      top: calc(50% - 8px);
      right: calc(50% - 8px);
    }
  }
}

@media (max-width: 980px) {
  .wrapper {
    padding: 40px;
    height: calc(90vh - 50px);
  }
}

@media (max-width: 550px) {
  .wrapper {
    padding: 0px;
    height: calc(100vh - 50px);
  }
}
